
.app {
  position: relative;
}

.app-grid {
  display: grid;
  grid-template-columns: 300px 50px auto;
  grid-template-rows: auto;
}

.app-grid > .contact-list {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.app-grid > .buffer {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.app-grid > .main-content {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
